<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blockengine.ftcloudmessage.mapper.NormalOrdersMapper">
  <resultMap id="BaseResultMap" type="cn.blockengine.ftcloudmessage.entity.NormalOrders">
    <!--@mbg.generated-->
    <!--@Table normal_orders-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete" jdbcType="BOOLEAN" property="deleted" />
    <result column="message_content" jdbcType="LONGVARCHAR" property="messageContent" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="mobile" jdbcType="LONGVARCHAR" property="mobile" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="open" jdbcType="BOOLEAN" property="open" />
    <result column="send_flag" jdbcType="BIGINT" property="sendFlag" />
  </resultMap>

  <resultMap id="BaseNormalResponse" type="cn.blockengine.ftcloudmessage.response.NormalOrderResponse">
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_time, update_time, `delete`, message_content, user_id, mobile, send_time, 
    `open`, send_flag
  </sql>

  <select id="selectList" resultMap="BaseNormalResponse">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List"/>
    from normal_orders
    where `delete` = 0
    <if test="request.userId != null">
      and user_id = #{request.userId,jdbcType=BIGINT}
    </if>
    <if test="request.mobile != null and request.mobile != ''">
      and mobile = #{request.mobile}
    </if>
    <if test="request.sendFlag != null">
      and send_flag = #{request.sendFlag,jdbcType=BIGINT}
    </if>
    <if test="request.open != null">
      and `open` = #{request.open,jdbcType=BOOLEAN}
    </if>

    <if test="request.messageContent != null and request.messageContent != ''">
      and message_content like concat('%',#{request.messageContent},'%')
    </if>

    order by id desc
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseNormalResponse">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from normal_orders
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    update normal_orders set `delete` = 1 , update_time=now() where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.blockengine.ftcloudmessage.entity.NormalOrders" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into normal_orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
        create_time,
        update_time,
        `delete`,
      <if test="messageContent != null and messageContent != ''">
        message_content,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="mobile != null and mobile != ''">
        mobile,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="open != null">
        `open`,
      </if>
      <if test="sendFlag != null">
        send_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        now(),
        now(),
        0,
      <if test="messageContent != null and messageContent != ''">
        #{messageContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null and mobile != ''">
        #{mobile,jdbcType=LONGVARCHAR},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="open != null">
        #{open,jdbcType=BOOLEAN},
      </if>
      <if test="sendFlag != null">
        #{sendFlag,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.blockengine.ftcloudmessage.entity.NormalOrders">
    <!--@mbg.generated-->
    update normal_orders
    <set>

        update_time = now(),

      <if test="messageContent != null and messageContent != ''">
        message_content = #{messageContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null and mobile != ''">
        mobile = #{mobile,jdbcType=LONGVARCHAR},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="open != null">
        `open` = #{open,jdbcType=BOOLEAN},
      </if>
      <if test="sendFlag != null">
        send_flag = #{sendFlag,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>