<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blockengine.ftcloudmessage.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="cn.blockengine.ftcloudmessage.entity.Users">
    <!--@mbg.generated-->
    <!--@Table users-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete" jdbcType="BOOLEAN" property="deleted" />
    <result column="avatar" jdbcType="LONGVARCHAR" property="avatar" />
    <result column="nike_name" jdbcType="LONGVARCHAR" property="nikeName" />
    <result column="sex" jdbcType="BIGINT" property="sex" />
    <result column="mobile" jdbcType="LONGVARCHAR" property="mobile" />
    <result column="o_mark" jdbcType="BIGINT" property="oMark" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id,
    avatar,
    nike_name,
    sex,
    mobile,
    o_mark,
    open_id,
    `delete`,
    create_time,
    update_time
  </sql>

  <select id="getUserByOpenId" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List"/>
    from users
    where open_id = #{openId,jdbcType=VARCHAR}
      and `delete` = 0
  </select>

  <select id="getUserByUserId" resultType="cn.blockengine.ftcloudmessage.response.UserResponse">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List"/>
    from users
    where id = #{userId,jdbcType=BIGINT}
      and `delete` = 0
  </select>
</mapper>